/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font-family: 'Special Elite', cursive;
    font-size: 22px;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
    background: #f16529;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main-container {
    text-align: center;
}

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.main p span {
    display: block;
    margin: 10px 0;
}

#business-card {
    transform: rotate(-3deg);
    backface-visibility: hidden;
    margin: 75px 190px 75px 190px;
    height: 300px;
}

#business-card img#the-card {
    position: absolute;
    z-index: 2;
    margin-left: -300px;
}


#business-card img#the-less-fat {
    position: absolute;
    z-index: 3;
    margin-left: 115px;
    margin-top: 25px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

#business-card:hover img#the-less-fat {
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
}

#business-card #the-new {
    -webkit-animation-delay: 1s;
    display: inline-block;
    z-index: 1;
    position: absolute;
    margin-left: 135px;
    margin-top: 20px;
    transition: 0.2s ease-in-out;
}

#business-card:hover #the-new {
    transform: translate(165px,0);
    transition: 0.2s ease-in-out;
}

#business-card img#the-new-tag {

}

#business-card #the-now-less-text {
    text-align: center;
    width: 175px;
    padding: 0 55px 0 20px;
    margin: 0;
    height: 150px;
    font-family: 'Patua One', cursive;
    font-size: 26px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

#business-card:hover #the-now-less-text {
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
}


#business-card #the-now-less-text a {
    color: #000;
}

#business-card img#the-card {
    box-shadow: 5px 5px 25px #666;
    border-radius: 40px;
}

#humaneq-oy {
    display: none;
}

#humaneq-is span {
    position: relative;
    margin: 10px 0;
}

#humaneq-is #harri-kauhanen {
    font-family: 'Engagement', cursive;
    font-weight: 400;
    font-size: 110px;
}

#humaneq-is #full-stack-web-developer {
    font-family: 'Patua One', cursive;
    font-size: 60px;
}

#humaneq-is #freelancer {
    font-family: 'Codystar', cursive;
    font-size: 70px;
    letter-spacing: 20px;
    margin: 15px 0 20px 0;
}

#humaneq-is #wellbeing {
    font-family: 'Great Vibes', cursive;
    font-size: 160px;
    margin: -20px 0 -40px 0;
}

#humaneq-is #people {
    font-family: 'Monofett', cursive;
    font-size: 90px;
    margin-bottom: 30px;
}

#humaneq-is video {
    margin-top: -100px;
}

.separator {
    margin: 50px 0;
}

#more-about-harri {
    margin: 50px 0;
}

#site-powered-by {

}

#site-not-powered-by {
    font-size: 10px;
    margin-top: 40px;
}

#cookie-policy {
    margin-top: 40px;
}

.container {
  margin-top: 100px;
  text-align: center;
}

.contain-animation {
  /* height: 695px; */
}

.contain-dog {
  position: relative;
  margin: -50px auto;
  width: 600px;
  height: 200px;
}

.cover {
  position: absolute;
  top: -40px;
  left: 0;
  background: #fff;
  height: 180px;
  width: 870px;
  animation: walk 5s steps(9, end) infinite;
  -webkit-animation: walk 5s steps(5, end) infinite;
}

@keyframes walk {
  to {
    transform: translateX(755px);
  }
}

@-webkit-keyframes walk {
  to {
    -webkit-transform: translateX(755px);
  }
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}